<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>671727476299-mfakekkik21o8nb7issqpe0i4gikhfnu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.671727476299-mfakekkik21o8nb7issqpe0i4gikhfnu</string>
	<key>API_KEY</key>
	<string>AIzaSyD3CrTAdYkQvZazFx-T8PCUcCPXcF-XnVY</string>
	<key>GCM_SENDER_ID</key>
	<string>671727476299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.coachabdou.coachAbdou</string>
	<key>PROJECT_ID</key>
	<string>coachabdou-818ad</string>
	<key>STORAGE_BUCKET</key>
	<string>coachabdou-818ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:671727476299:ios:8f1cc577f609f632b2b7ce</string>
	<key>DATABASE_URL</key>
	<string>https://coachabdou-818ad.firebaseio.com</string>
</dict>
</plist>